.back-to-principal {
    color: #FFF;
    border: 0;
    width: 100%;
    background: #ff704d;
    height: 70px;
    padding: 10px 20px;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
        
}

.back-to-principal p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
       
}

.back-to-principal svg {
    text-align: left;
    position: relative;
    transition: all 0.2s;
}   

.back-to-principal svg:hover {
    opacity: 0.5;
    align-items: center;
    position: relative;
}

.principal-container {
    background: #FFF;
    width: 500px;
    height: 700px;
    margin: 30px auto;
    padding: 20px 20px;
    border: 1px solid #ddd;
    position: relative;

}

.principal-container header {
    border: 1px solid #fff;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background: #ff704d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.principal-container .first-input {
    margin-top: 20px;
}

.principal-container input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
}

.principal-container select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: #FFF;
    background: #ff704d;
    font-size: 16px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.principal-container select option {
    background: #ff704d;
    font-size: 15px;
    font-weight: bold;

}

.principal-container .first-button {
    margin-top: 330px;
}

.principal-container button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight:bold;
    background: #ff704d;
    transition: all 0.2s;
}

.principal-container button:hover {
    opacity: 0.5;
}
